/* Here goes your CSS */
body {
  background-color: #D3C7C7;
  font-family: 'Open Sans', sans-serif;
  color: #756e6e;
  font-size: 15px ;
  line-height: 20px;
}

h1 {
  font-size: 25px ;
  line-height: 30px;
  color: #dd5555;
}

h2 {
  font-size: 20px;
  line-height: 20px;
}

h3 {
font-size: 17px;
line-height: 17px;
}

a {
text-decoration: none;
color: #BFBABA;
}

a:hover {
  color: #dd5555;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  /*width: 600px;*/
  margin: 50 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  width: 500px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#profile {
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.1);
  padding: 1px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
  font-size: 20px;
}

.table-space {
padding-left: 30px;
padding-top: 30px;
font-size: 15px;
}

#button {
  background-color: #dd5555;
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
  color: #ffffff;
}

#button:hover {
background-color: #B11F1F;
}

#card-info p {
  margin-bottom: 30px;
}
